*{
	margin: 0;
	padding: 0;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);    
}

.background{
    background-size: cover;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(39, 37, 37, 0.952);
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-img-a{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.navbar-img-a img{
    width: 20px;
    height:20px;
    transform: scale(2.5);
    border-radius: 50%;
    background-color: aliceblue;
    transition: 0.5s;
}

.navbar-img-a img:hover{
    transform: scale(2.7);
}


.navbar-img-a a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 7rem;
    transition: 0.3s;
    padding: 5px;
    color: white;
}

.navbar-img-a a:hover{
    background-color: rgb(247, 241, 241);
    color: rgb(0, 0, 0);
    border-radius: 30px;
}


.navbar-list{
    width: 45%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.navbar-list a{
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3rem;
    margin: 5px;
    transition: 0.3s;
    padding: 4px;
}



.navbar-list a:hover{
    background-color: rgb(255, 255, 255);
    transform: translate(5px);
    color: rgb(29, 27, 27);
}


#seccion-presentacion{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#section-presentacion img{
    width: 100%;
    height: 45rem;
}


.presentacion-titulo{
    position: absolute;
}

.presentacion-titulo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    transition: 1s;
    border-radius: 50px;
}

.presentacion-titulo h1:hover{
    background-color: rgba(255, 255, 255, 0.822);
    color: rgb(0, 0, 0);
    border-radius: 50px;
}
  

.subtitulo-elementos {
    margin-top: 7rem;
    margin-left: 10rem;
    width: 60%;
    font-size: 45px;
    color: rgb(25, 24, 24);
    transition: .3s;
}

.subtitulo-elementos span{
    color: rgb(226, 21, 21); ;
}


.subtitulo-elementos:hover {
    transform: scale(1.02);
}

.elementos {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 3rem auto;
    flex-wrap: wrap;
}

.cards {
    width: 14rem;
    height: 14rem;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s;
}

.cards:hover {
    transform: scale(1.03);
}

.cards img {
    width: 100%;
    height: auto;
}

.cards:hover img{
    filter: blur(1px);
}

.cards .titulo {
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.enlace-tarjeta img{
    width: 100%;
    height: 100%;
}


.cards:nth-child(1),
.cards:nth-child(2),
.cards:nth-child(3),
.cards:nth-child(4),
.cards:nth-child(5),
.cards:nth-child(6),
.cards:nth-child(7),
.cards:nth-child(8) {
    display: flex;
    justify-content: center;
}



.cards .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 25px;
    transition: opacity 0.3s;
}

.cards:hover .titulo {
    background-color: #0e0d0d9c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.p {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.916);
}

/*SECCION ABOUT*/ /*SECCION ABOUT*/ /*SECCION ABOUT*/ /*SECCION ABOUT*/ 

section.About{
    margin-top: 6rem;
}


.About-Presentacion{
    width: 40%;
    margin: 0 auto;
}

.About-Presentacion h1{
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    transition: .3s;
    color: rgb(238, 31, 31);
}


.About-Contenedor{
    width: 90%;
    background-color: #08485d;
    margin: 2rem auto;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 30px;
}


.About-Contenedor img{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: 15px;
}

.About-Contenedor img:first-child{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: 15px;
    transition: .3s;
    opacity: 0;
}

.About-Contenedor img:first-child:hover{
    opacity: 1;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: 15px;
}

.About-Parrafos{
    width: 70%;
}


.About-p{
    color: rgb(229, 224, 224);
    padding: 1rem;
    text-align: start;
    font-size: 20px;
}

.about-p-nombre{
    color: rgb(225, 29, 29);
    text-align: start;
    font-size: 25px;
}

.about-p-nikon{
    color: rgb(225, 29, 29);
    text-align: start;
    font-size: 23px;
}

.about-p-calidad{
    color: rgb(225, 29, 29);
    text-align: start;
    font-size: 20px;
}

.about-p-fotografia{
    color: rgb(225, 29, 29);
    text-align: start;
    font-size: 20px;
}

.about-p-especiales{
    color: rgb(225, 29, 29);
    text-align: start;
    font-size: 24px;
}

.about-p-unicos{
    color: rgb(225, 29, 29);
    text-align: start;
    font-size: 24px;
}

/*SECCION ABOUT*/ /*SECCION ABOUT*/ /*SECCION ABOUT*/ /*SECCION ABOUT*/ 


.titulo-accesorios h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 15rem;
    height: 3rem;
    margin: 5rem auto;
    border-bottom: 1px solid white;
    transition: .3s;
}

.accesorios h1:hover{
    background-color: rgba(255, 255, 255, 0.74);
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

.contenedor-cards-accesorios{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.cards-accesorios{
    width: 27rem;
    height: 27rem;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cards-accesorios:hover{
    transform: scale(1.05);
}

.cards-accesorios h1{
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 1rem;
}

.cards-accesorios img{
    width: 17rem;
    height: 17rem;
    border: 5px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.87);
}

.cards-accesorios p{
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
}


.servicios-h1 {
    font-size: 3rem;
    color: rgb(226, 21, 21);
    width: 90%;
    position: relative;
    left: -40px;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.servicios-h1 span{
    color: rgb(66, 63, 63);
}

.contenedor-servicios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.contenedor-servicios-cards{
    transition: .5s;
    height: 30rem;
    margin-bottom: 5rem;
}

.contenedor-servicios-cards:hover{
    transform: scale(1.04);
}

.contenedor-servicios-cards img{
    width: 20rem;
    height: 30rem;
    margin: .5rem;
    border-radius: 30px;
    cursor: pointer;
}

.contenido-cards-titulo{
    font-size: 1.5rem;
    background-color: rgba(26, 25, 25, 0.568);
    border-radius: 30px;
    width: 12rem;
    margin: auto;
    position: relative;
    bottom: 30rem;
    cursor: pointer;
}

.contenido-cards-titulo h2{
    color: white;
}

.contenido-cards-titulo-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.779);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 20rem;
    height: 5.5rem;
    position: relative;
    bottom: 8.89rem;
}

.contenido-cards-titulo-bottom h3{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
}

.contenido-cards-titulo-bottom button{
    border: 3px solid rgb(0, 0, 0);
    width: 9rem;
    height: 2.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
}



/*CONTENEDOR CAMARAS*/ /*CONTENEDOR CAMARAS*/ /*CONTENEDOR CAMARAS*/ /*CONTENEDOR CAMARAS*/
/*CONTENEDOR CAMARAS*/ /*CONTENEDOR CAMARAS*/ /*CONTENEDOR CAMARAS*/ /*CONTENEDOR CAMARAS*/



.servicios-camaras{
    width: 100%;
    margin: auto;
}

.titulo-servicios-camaras {
    width: 50%;
    font-size: 3rem;
    color: rgb(13, 13, 13);
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.titulo-servicios-camaras span{
    color: rgb(226, 21, 21);
}

.subtitulo-servicios-camaras{
   width: 45%;
   margin-left: 3.5rem;
   margin-bottom: 3rem;
   font-size: 1.5rem;
   color: rgb(255, 78, 14);
}

.servicios-camaras-CNF{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.cards-camaras{
    width: 20rem;
    height: 36rem;
    margin: 5px;
    border-radius: 30px;
    transition: .3s;
}

.cards-camaras:nth-child(3) button{
    margin-top: 2px;
}

.cards-camaras:nth-child(3) h3{
    margin: 2rem;
    font-size: 1.5rem;
}

.cards-camaras:hover {
    border: 1px solid rgb(54, 49, 49);
    border-radius: 30px;
}

.cards-camaras img{
    width: 10rem;
    height: 10rem;
    margin: 10px;
}


.cards-camaras h1{
    color: rgb(255, 253, 253);
    background-color: rgb(39, 37, 37);
    padding: .3rem;
    border-radius: 20px;
    margin: 10px;
}

.cards-camaras a{
    text-decoration: none;
}

.cards-camaras h2{
    color: rgb(234, 14, 14);
    margin-bottom: 10px;
}

.cards-camaras h3{
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    color: rgb(76, 69, 69);
}

.cards-camaras button{
    padding: 3px;
    border: none;
    border-radius: 15px;
    background-color: rgb(17, 16, 16);
    color: white;
    margin-top: 15px;
}

.cards-camaras button:hover{
    border: 1px solid;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*FIN CONTENEDOR CAMARAS*/ /*FIN CONTENEDOR CAMARAS*/ /*FIN CONTENEDOR CAMARAS*/ /*FIN CONTENEDOR CAMARAS*/ 
/* FINCONTENEDOR CAMARAS*/ /*FIN CONTENEDOR CAMARAS*/ /*FIN CONTENEDOR CAMARAS*/ /*FIN CONTENEDOR CAMARAS*/ 


/*SECCCION PORTFOLIO*/ /*SECCCION PORTFOLIO*/ /*SECCCION PORTFOLIO*/ /*SECCCION PORTFOLIO*/
/*SECCCION PORTFOLIO*/ /*SECCCION PORTFOLIO*/ /*SECCCION PORTFOLIO*/ /*SECCCION PORTFOLIO*/

#portfolio{
    width: 100%;
    background-color: black;
    height: 460vh;
}

.portfolio-h1 {
    width: 50%;
    padding-top: 4rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: rgb(223, 223, 223);
}

.portfolio-h1 span{
    color: rgb(255, 44, 44);
}

.portfolio-h2-introduccion {
    width: 80%;
    margin: 2rem auto;
    font-size: 2rem;
    background-color: #f23e1a;
    border-radius: 20px;
}

.portfolio-h2-introduccion span{
    color: rgb(225, 237, 216);
}


.palabra1:hover {
    color: #deff49; /* Coral */
}
.palabra2:hover {
    color: #1cb5e0; /* Sky Blue */
}
.palabra3:hover {
    color: #feda75; /* Pastel Yellow */
}
.palabra4:hover {
    color: #ff9a8b; /* Salmon Pink */
}
.palabra5:hover {
    color: #50b6bb; /* Light Blue */
}
.palabra6:hover {
    color: #a3e635; /* Lime */
}
.palabra7:hover {
    color: #f4acb7; /* Light Pink */
}
.palabra8:hover {
    color: #ffc200; /* Golden Yellow */
}
.palabra9:hover {
    color: #ff6b6b; /* Light Coral */
}
.palabra12:hover {
    color: #8ac926; /* Dark Lime Green */
}
.palabra13:hover {
    color: #ffbe0b; /* Yellow */
}
.palabra14:hover {
    color: #6a0572; /* Purple */
}
.palabra15:hover {
    color: #118ab2; /* Dark Cyan */
}
.palabra16:hover {
    color: #b83b5e; /* Deep Pink */
}
.palabra17:hover {
    color: #073b4c; /* Dark Teal */
}
.palabra18:hover {
    color: #ff8c42; /* Orange */
}
.palabra19:hover {
    color: #7209b7; /* Deep Purple */
}
.palabra23:hover {
    color: #3a86ff; /* Dodger Blue */
}
.palabra24:hover {
    color: #fd7014; /* Orangeish */
}
.palabra25:hover {
    color: #fcfc62; /* Canary Yellow */
}
.palabra26:hover {
    color: #06d6a0; /* Caribbean Green */
}
.palabra27:hover {
    color: #f4d35e; /* Maize */
}
.palabra28:hover {
    color: #72efdd; /* Pale Cyan */
}
.palabra29:hover {
    color: #ff6f69; /* Salmon */
}
.palabra30:hover {
    color: #577590; /* Slate Blue */
}
.palabra31:hover {
    color: #f3c623; /* Bright Yellow */
}
.palabra32:hover {
    color: #7bdff2; /* Light Sky Blue */
}
.palabra33:hover {
    color: #fde74c; /* Yellow Orange */
}
.palabra34:hover {
    color: #34eb5b; /* Vibrant Green */
}
.palabra39:hover {
    color: #ff5e5b; /* Pinkish Red */
}
.palabra40:hover {
    color: #00a896; /* Greenish Cyan */
}
.palabra41:hover {
    color: #ff9f1c; /* Yellowish Orange */
}
.palabra42:hover {
    color: #7ed6df; /* Powder Blue */
}
.palabra43:hover {
    color: #c90616; /* Fire Engine Red */
}
.palabra46:hover {
    color: #ffb703; /* Bright Yellow */
}
.palabra47:hover {
    color: #06aed5; /* Sky Blue */
}
.palabra48:hover {
    color: #ff2e63; /* Fluorescent Pink */
}
.palabra49:hover {
    color: #8338ec; /* Dark Purple */
}
.palabra50:hover {
    color: #c5d86d; /* Pale Green */
}
.palabra51:hover {
    color: #ff6b6b; /* Light Coral */
}
.palabra52:hover {
    color: #355c7d; /* Dark Slate Blue */
}
.palabra53:hover {
    color: #fcfc62; /* Canary Yellow */
}
.palabra54:hover {
    color: #f67280; /* Light Salmon */
}
.palabra55:hover {
    color: #5f0f40; /* Dark Purple */
}
.palabra56:hover {
    color: #99b898; /* Sage Green */
}
.palabra57:hover {
    color: #fe5f55; /* Tomato Red */
}
.palabra58:hover {
    color: #5c374c; /* Dark Purple */
}
.palabra59:hover {
    color: #d4a5a5; /* Light Pink */
}
.palabra60:hover {
    color: #1a535c; /* Deep Sea Blue */
}

.contenido-portfolio {
    width: 80%;
    margin: auto;
    border-radius: 30px;
}

.imagenes-portfolio {
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
}

.imagenes-portfolio .div-cards-p {
    border-radius: 30px;
    position: relative;
    overflow: hidden; 
}

.imagenes-portfolio .div-cards-p h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(59, 53, 53, 0.714);
    color: rgb(230, 229, 229);
    padding: 7px;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imagenes-portfolio .div-cards-p:hover h1 {
    opacity: 1;
}

.imagenes-portfolio .div-cards-p img {
    margin: 10px;
    width: 90%;
    height: 300px;
    border: 5px solid rgb(223, 220, 220);
    border-radius: 30px;
    z-index: 0;
    transition: .2s;
}

.imagenes-portfolio .div-cards-p img:hover{
    border: 5px solid rgb(184, 51, 51);
}



.imagenes-portfolio .div-cards-p:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.imagenes-portfolio .div-cards-p:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.imagenes-portfolio .div-cards-p:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.imagenes-portfolio .div-cards-p:nth-child(5) {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}

.imagenes-portfolio .div-cards-p:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.imagenes-portfolio .div-cards-p:nth-child(9) {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.imagenes-portfolio .div-cards-p:nth-child(13) {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
}

.imagenes-portfolio .div-cards-p:nth-child(17) {
    grid-column: 3 / 5;
    grid-row: 6 / 7;
}

.imagenes-portfolio .div-cards-p:nth-child(23) {
    grid-column: -2 / -4;
    grid-row: 8 / 9;
}



   


/*FIN SECCION PORTFOLIO*/ /*FIN SECCION PORTFOLIO*/ /*FIN SECCION PORTFOLIO*/ /*FIN SECCION PORTFOLIO*/
/*FIN SECCION PORTFOLIO*/ /*FIN SECCION PORTFOLIO*/ /*FIN SECCION PORTFOLIO*/ /*FIN SECCION PORTFOLIO*/



/*SECCION CONTACTO*/ /*SECCION CONTACTO*/ /*SECCION CONTACTO*/ /*SECCION CONTACTO*/
/*SECCION CONTACTO*/ /*SECCION CONTACTO*/ /*SECCION CONTACTO*/ /*SECCION CONTACTO*/

section.contact{
    width: 60%;
    height: auto;
    border-radius: 30px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.74);
}


.contacto-h1 h1{
    padding: 5px;
    margin-top: 10rem;
    transition: .3s;
    font-size: 2.2rem;
    transition: .3s;
    color: rgb(232, 16, 16);
}


.img-container-general {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    transition: .3s;
}

.img-container-general img {
    width: 7rem;
    height: 7rem;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 5px solid white;
    margin: 1rem;
}

.img-container:hover{
    transform: scale(1.1);
    transition: .3s;
}

.overlay {
    position: absolute;
    opacity: 0;
}

.img-container:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
}



/*FIN SECCION CONTACTO*/ /*FIN SECCION CONTACTO*/ /*FIN SECCION CONTACTO*/ /*FIN SECCION CONTACTO*/
/*FIN SECCION CONTACTO*/ /*FIN SECCION CONTACTO*/ /*FIN SECCION CONTACTO*/ /*FIN SECCION CONTACTO*/



/*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/
/*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/


footer{
    background: rgb(18, 18, 18);
}

.titulo-footer{
    color: white;
    padding: 2rem;
    margin: 30px auto;
}

.direcciones{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.direcciones a{
    color: white;
}

.direcciones a:hover{
    color: rgb(255, 255, 255);
}

.direccion{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.direccion img{
    width: 20px;
    height: 20px;
}

.direccion h2 {
    color: rgb(222, 41, 41);
}

.direccion p{
    margin-top: 10px;
    color: white;
}

.telefonos-footer{
    margin-top: 10px;
    color: white;
}

.numero-footer{
    margin-bottom: 20px;
}

.direccion iframe{
    border-radius: 30px;
}

.hecho-por{
    color: white;
    padding: 1rem;
    font-size: 20px;
}
